# NDFDS2
## PROJECT 2

### Gathering

In [2]:
import pandas as pd
import numpy as np
import tweepy
import requests
import json
import time
from timeit import default_timer as timer

### Archive
* The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv

In [3]:
tweet_id = pd.read_csv('twitter-archive-enhanced.csv')
tweet_ids = list(tweet_id['tweet_id'])

### URL 
* The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

In [4]:
with open('image_predictions.tsv' , 'wb') as file:
    image_f = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
    file.write(image_f.content)

In [5]:
image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')

### API

In [6]:
# HIDE KEYS BEFORE SEND THE PROJECT
consumer_key = 'p6xYPlE4O8s5S1xHUWnoWGcdH'
consumer_secret = 'C6Zs8mVVE5eab27zIR01gdyM05oA6iL35PD91vyNcB9pk4QBjY'
access_token = '3142373003-iEAqVxAGyeoeoxeweK3oVf7hJYGsu1F696bcoxI'
access_secret = '8YqVdro3oTDyiwlPlF3JimLxjWCvNBDlLYXoPgETu0h9R'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [7]:
working =[]
not_working = []
with open('tweet_json.txt', 'w') as file:
    t = time.time()
    for _tweet_id in tweet_ids:
        try:
            tweet_details = api.get_status(_tweet_id,tweet_mode='extended')
            json.dump(tweet_details._json, file)
            file.write('\n')
            working.append(_tweet_id)
        except Exception as e:
            print(_tweet_id,e)
            not_working.append(_tweet_id)
    elapsed_time = time.time()-t
    print(elapsed_time)

888202515573088257 [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 [{'code': 144, 'message': 'No status found with that ID.'}]
770743923962707968 [{'code': 144, 'message': 'No status found with that ID.'}]
758740312047005698 [{'message': 'Rate limit exceeded', 'code': 88}]
758474966123810816 [{'message': 'Rate limit exceeded', 'code': 88}]
758467244762497024 [{'message': 'Rate limit exceeded', 'code': 88}]
758405701903519748 [{'message': 'Rate limit exceeded', 'code': 88}]
758355060040593408 [{'message': 'Rate limit exceeded', 'code': 88}]
758099635764359168 [{'message': 'Rate limit exceeded', 'code': 88}]
758041019896193024 [{'message': 'Rate limit exceeded', 'code': 88}]
757741869644341248 [{'message': 'Rate limit exceeded', 'code': 88}]
757729163776290825 [{'message': 'Rate limit exceeded', 'code': 88}]
757725642876129280 [{'message': 'Rate limit exceeded', 'code': 88}]
757611664640446465 [{'message': 'Rate limit exceeded', 'code': 88}]
757597904299253760 [{'message': 'Rate limit exceeded', 'code': 88}]
757596066325864448 [{'message': 'Rate limit exceeded', 'code': 88}]
757400162377592832 [{'message': 'Rate limit exceeded', 'code': 88}]
757393109802180609 [{'message': 'Rate limit exceeded', 'code': 88}]
757354760399941633 [{'message': 'Rate limit exceeded', 'code': 88}]
756998049151549440 [{'message': 'Rate limit exceeded', 'code': 88}]
756939218950160384 [{'message': 'Rate limit exceeded', 'code': 88}]
756651752796094464 [{'message': 'Rate limit exceeded', 'code': 88}]
756526248105566208 [{'message': 'Rate limit exceeded', 'code': 88}]
756303284449767430 [{'message': 'Rate limit exceeded', 'code': 88}]
756288534030475264 [{'message': 'Rate limit exceeded', 'code': 88}]
756275833623502848 [{'message': 'Rate limit exceeded', 'code': 88}]
755955933503782912 [{'message': 'Rate limit exceeded', 'code': 88}]
755206590534418437 [{'message': 'Rate limit exceeded', 'code': 88}]
755110668769038337 [{'message': 'Rate limit exceeded', 'code': 88}]
754874841593970688 [{'message': 'Rate limit exceeded', 'code': 88}]
754856583969079297 [{'message': 'Rate limit exceeded', 'code': 88}]
754747087846248448 [{'message': 'Rate limit exceeded', 'code': 88}]
754482103782404096 [{'message': 'Rate limit exceeded', 'code': 88}]
754449512966619136 [{'message': 'Rate limit exceeded', 'code': 88}]
754120377874386944 [{'message': 'Rate limit exceeded', 'code': 88}]
754011816964026368 [{'message': 'Rate limit exceeded', 'code': 88}]
753655901052166144 [{'message': 'Rate limit exceeded', 'code': 88}]
753420520834629632 [{'message': 'Rate limit exceeded', 'code': 88}]
753398408988139520 [{'message': 'Rate limit exceeded', 'code': 88}]
753375668877008896 [{'message': 'Rate limit exceeded', 'code': 88}]
753298634498793472 [{'message': 'Rate limit exceeded', 'code': 88}]
753294487569522689 [{'message': 'Rate limit exceeded', 'code': 88}]
753039830821511168 [{'message': 'Rate limit exceeded', 'code': 88}]
753026973505581056 [{'message': 'Rate limit exceeded', 'code': 88}]
752932432744185856 [{'message': 'Rate limit exceeded', 'code': 88}]
752917284578922496 [{'message': 'Rate limit exceeded', 'code': 88}]
752701944171524096 [{'message': 'Rate limit exceeded', 'code': 88}]
752682090207055872 [{'message': 'Rate limit exceeded', 'code': 88}]
752660715232722944 [{'message': 'Rate limit exceeded', 'code': 88}]
752568224206688256 [{'message': 'Rate limit exceeded', 'code': 88}]
752519690950500352 [{'message': 'Rate limit exceeded', 'code': 88}]
752334515931054080 [{'message': 'Rate limit exceeded', 'code': 88}]
752309394570878976 [{'message': 'Rate limit exceeded', 'code': 88}]
752173152931807232 [{'message': 'Rate limit exceeded', 'code': 88}]
751950017322246144 [{'message': 'Rate limit exceeded', 'code': 88}]
751937170840121344 [{'message': 'Rate limit exceeded', 'code': 88}]
751830394383790080 [{'message': 'Rate limit exceeded', 'code': 88}]
751793661361422336 [{'message': 'Rate limit exceeded', 'code': 88}]
751598357617971201 [{'message': 'Rate limit exceeded', 'code': 88}]
751583847268179968 [{'message': 'Rate limit exceeded', 'code': 88}]
751538714308972544 [{'message': 'Rate limit exceeded', 'code': 88}]
751456908746354688 [{'message': 'Rate limit exceeded', 'code': 88}]
751251247299190784 [{'message': 'Rate limit exceeded', 'code': 88}]
751205363882532864 [{'message': 'Rate limit exceeded', 'code': 88}]
751132876104687617 [{'message': 'Rate limit exceeded', 'code': 88}]
750868782890057730 [{'message': 'Rate limit exceeded', 'code': 88}]
750719632563142656 [{'message': 'Rate limit exceeded', 'code': 88}]
750506206503038976 [{'message': 'Rate limit exceeded', 'code': 88}]
750429297815552001 [{'message': 'Rate limit exceeded', 'code': 88}]
750383411068534784 [{'message': 'Rate limit exceeded', 'code': 88}]
750381685133418496 [{'message': 'Rate limit exceeded', 'code': 88}]
750147208377409536 [{'message': 'Rate limit exceeded', 'code': 88}]
750132105863102464 [{'message': 'Rate limit exceeded', 'code': 88}]
750117059602808832 [{'message': 'Rate limit exceeded', 'code': 88}]
750101899009982464 [{'message': 'Rate limit exceeded', 'code': 88}]
750086836815486976 [{'message': 'Rate limit exceeded', 'code': 88}]
750071704093859840 [{'message': 'Rate limit exceeded', 'code': 88}]
750056684286914561 [{'message': 'Rate limit exceeded', 'code': 88}]
750041628174217216 [{'message': 'Rate limit exceeded', 'code': 88}]
750026558547456000 [{'message': 'Rate limit exceeded', 'code': 88}]
750011400160841729 [{'message': 'Rate limit exceeded', 'code': 88}]
749996283729883136 [{'message': 'Rate limit exceeded', 'code': 88}]
749981277374128128 [{'message': 'Rate limit exceeded', 'code': 88}]
749774190421639168 [{'message': 'Rate limit exceeded', 'code': 88}]
749417653287129088 [{'message': 'Rate limit exceeded', 'code': 88}]
749403093750648834 [{'message': 'Rate limit exceeded', 'code': 88}]
749395845976588288 [{'message': 'Rate limit exceeded', 'code': 88}]
749317047558017024 [{'message': 'Rate limit exceeded', 'code': 88}]
749075273010798592 [{'message': 'Rate limit exceeded', 'code': 88}]
749064354620928000 [{'message': 'Rate limit exceeded', 'code': 88}]
749036806121881602 [{'message': 'Rate limit exceeded', 'code': 88}]
748977405889503236 [{'message': 'Rate limit exceeded', 'code': 88}]
748932637671223296 [{'message': 'Rate limit exceeded', 'code': 88}]
748705597323898880 [{'message': 'Rate limit exceeded', 'code': 88}]
748699167502000129 [{'message': 'Rate limit exceeded', 'code': 88}]
748692773788876800 [{'message': 'Rate limit exceeded', 'code': 88}]
748575535303884801 [{'message': 'Rate limit exceeded', 'code': 88}]
748568946752774144 [{'message': 'Rate limit exceeded', 'code': 88}]
748346686624440324 [{'message': 'Rate limit exceeded', 'code': 88}]
748337862848962560 [{'message': 'Rate limit exceeded', 'code': 88}]
748324050481647620 [{'message': 'Rate limit exceeded', 'code': 88}]
748307329658011649 [{'message': 'Rate limit exceeded', 'code': 88}]
748220828303695873 [{'message': 'Rate limit exceeded', 'code': 88}]
747963614829678593 [{'message': 'Rate limit exceeded', 'code': 88}]
747933425676525569 [{'message': 'Rate limit exceeded', 'code': 88}]
747885874273214464 [{'message': 'Rate limit exceeded', 'code': 88}]
747844099428986880 [{'message': 'Rate limit exceeded', 'code': 88}]
747816857231626240 [{'message': 'Rate limit exceeded', 'code': 88}]

747651430853525504 [{'message': 'Rate limit exceeded', 'code': 88}]
747648653817413632 [{'message': 'Rate limit exceeded', 'code': 88}]
747600769478692864 [{'message': 'Rate limit exceeded', 'code': 88}]
747594051852075008 [{'message': 'Rate limit exceeded', 'code': 88}]
747512671126323200 [{'message': 'Rate limit exceeded', 'code': 88}]
747461612269887489 [{'message': 'Rate limit exceeded', 'code': 88}]
747439450712596480 [{'message': 'Rate limit exceeded', 'code': 88}]
747242308580548608 [{'message': 'Rate limit exceeded', 'code': 88}]
747219827526344708 [{'message': 'Rate limit exceeded', 'code': 88}]
747204161125646336 [{'message': 'Rate limit exceeded', 'code': 88}]
747103485104099331 [{'message': 'Rate limit exceeded', 'code': 88}]
746906459439529985 [{'message': 'Rate limit exceeded', 'code': 88}]
746872823977771008 [{'message': 'Rate limit exceeded', 'code': 88}]
746818907684614144 [{'message': 'Rate limit exceeded', 'code': 88}]
746790600704425984 [{'message': 'Rate limit exceeded', 'code': 88}]
746757706116112384 [{'message': 'Rate limit exceeded', 'code': 88}]
746726898085036033 [{'message': 'Rate limit exceeded', 'code': 88}]
746542875601690625 [{'message': 'Rate limit exceeded', 'code': 88}]
746521445350707200 [{'message': 'Rate limit exceeded', 'code': 88}]
746507379341139972 [{'message': 'Rate limit exceeded', 'code': 88}]
746369468511756288 [{'message': 'Rate limit exceeded', 'code': 88}]
746131877086527488 [{'message': 'Rate limit exceeded', 'code': 88}]
746056683365994496 [{'message': 'Rate limit exceeded', 'code': 88}]
745789745784041472 [{'message': 'Rate limit exceeded', 'code': 88}]
745712589599014916 [{'message': 'Rate limit exceeded', 'code': 88}]
745433870967832576 [{'message': 'Rate limit exceeded', 'code': 88}]
745422732645535745 [{'message': 'Rate limit exceeded', 'code': 88}]
745314880350101504 [{'message': 'Rate limit exceeded', 'code': 88}]
745074613265149952 [{'message': 'Rate limit exceeded', 'code': 88}]
745057283344719872 [{'message': 'Rate limit exceeded', 'code': 88}]
744995568523612160 [{'message': 'Rate limit exceeded', 'code': 88}]
744971049620602880 [{'message': 'Rate limit exceeded', 'code': 88}]
744709971296780288 [{'message': 'Rate limit exceeded', 'code': 88}]
744334592493166593 [{'message': 'Rate limit exceeded', 'code': 88}]
744234799360020481 [{'message': 'Rate limit exceeded', 'code': 88}]
744223424764059648 [{'message': 'Rate limit exceeded', 'code': 88}]
743980027717509120 [{'message': 'Rate limit exceeded', 'code': 88}]
743895849529389061 [{'message': 'Rate limit exceeded', 'code': 88}]
743835915802583040 [{'message': 'Rate limit exceeded', 'code': 88}]
743609206067040256 [{'message': 'Rate limit exceeded', 'code': 88}]
743595368194129920 [{'message': 'Rate limit exceeded', 'code': 88}]
743545585370791937 [{'message': 'Rate limit exceeded', 'code': 88}]
743510151680958465 [{'message': 'Rate limit exceeded', 'code': 88}]
743253157753532416 [{'message': 'Rate limit exceeded', 'code': 88}]
743222593470234624 [{'message': 'Rate limit exceeded', 'code': 88}]
743210557239623680 [{'message': 'Rate limit exceeded', 'code': 88}]
742534281772302336 [{'message': 'Rate limit exceeded', 'code': 88}]
742528092657332225 [{'message': 'Rate limit exceeded', 'code': 88}]
742465774154047488 [{'message': 'Rate limit exceeded', 'code': 88}]
742423170473463808 [{'message': 'Rate limit exceeded', 'code': 88}]
742385895052087300 [{'message': 'Rate limit exceeded', 'code': 88}]
742161199639494656 [{'message': 'Rate limit exceeded', 'code': 88}]
742150209887731712 [{'message': 'Rate limit exceeded', 'code': 88}]
741793263812808706 [{'message': 'Rate limit exceeded', 'code': 88}]
741743634094141440 [{'message': 'Rate limit exceeded', 'code': 88}]
741438259667034112 [{'message': 'Rate limit exceeded', 'code': 88}]
741303864243200000 [{'message': 'Rate limit exceeded', 'code': 88}]
741099773336379392 [{'message': 'Rate limit exceeded', 'code': 88}]
741067306818797568 [{'message': 'Rate limit exceeded', 'code': 88}]
740995100998766593 [{'message': 'Rate limit exceeded', 'code': 88}]
740711788199743490 [{'message': 'Rate limit exceeded', 'code': 88}]
740699697422163968 [{'message': 'Rate limit exceeded', 'code': 88}]
740676976021798912 [{'message': 'Rate limit exceeded', 'code': 88}]
740373189193256964 [{'message': 'Rate limit exceeded', 'code': 88}]
740365076218183684 [{'message': 'Rate limit exceeded', 'code': 88}]
740359016048689152 [{'message': 'Rate limit exceeded', 'code': 88}]
740214038584557568 [{'message': 'Rate limit exceeded', 'code': 88}]
739979191639244800 [{'message': 'Rate limit exceeded', 'code': 88}]
739932936087216128 [{'message': 'Rate limit exceeded', 'code': 88}]
739844404073074688 [{'message': 'Rate limit exceeded', 'code': 88}]
739623569819336705 [{'message': 'Rate limit exceeded', 'code': 88}]
739606147276148736 [{'message': 'Rate limit exceeded', 'code': 88}]
739544079319588864 [{'message': 'Rate limit exceeded', 'code': 88}]
680055455951884288 [{'code': 144, 'message': 'No status found with that ID.'}]
672984142909456390 [{'message': 'Rate limit exceeded', 'code': 88}]
672980819271634944 [{'message': 'Rate limit exceeded', 'code': 88}]
672975131468300288 [{'message': 'Rate limit exceeded', 'code': 88}]
672970152493887488 [{'message': 'Rate limit exceeded', 'code': 88}]
672968025906282496 [{'message': 'Rate limit exceeded', 'code': 88}]
672964561327235073 [{'message': 'Rate limit exceeded', 'code': 88}]
672902681409806336 [{'message': 'Rate limit exceeded', 'code': 88}]
672898206762672129 [{'message': 'Rate limit exceeded', 'code': 88}]
672884426393653248 [{'message': 'Rate limit exceeded', 'code': 88}]
672877615439593473 [{'message': 'Rate limit exceeded', 'code': 88}]
672834301050937345 [{'message': 'Rate limit exceeded', 'code': 88}]
672828477930868736 [{'message': 'Rate limit exceeded', 'code': 88}]
672640509974827008 [{'message': 'Rate limit exceeded', 'code': 88}]
672622327801233409 [{'message': 'Rate limit exceeded', 'code': 88}]
672614745925664768 [{'message': 'Rate limit exceeded', 'code': 88}]
672609152938721280 [{'message': 'Rate limit exceeded', 'code': 88}]
672604026190569472 [{'message': 'Rate limit exceeded', 'code': 88}]
672594978741354496 [{'message': 'Rate limit exceeded', 'code': 88}]
672591762242805761 [{'message': 'Rate limit exceeded', 'code': 88}]
672591271085670400 [{'message': 'Rate limit exceeded', 'code': 88}]
672538107540070400 [{'message': 'Rate limit exceeded', 'code': 88}]
672523490734551040 [{'message': 'Rate limit exceeded', 'code': 88}]
672488522314567680 [{'message': 'Rate limit exceeded', 'code': 88}]
672482722825261057 [{'message': 'Rate limit exceeded', 'code': 88}]
672481316919734272 [{'message': 'Rate limit exceeded', 'code': 88}]
672475084225949696 [{'message': 'Rate limit exceeded', 'code': 88}]
672466075045466113 [{'message': 'Rate limit exceeded', 'code': 88}]
672272411274932228 [{'message': 'Rate limit exceeded', 'code': 88}]
672267570918129665 [{'message': 'Rate limit exceeded', 'code': 88}]
672264251789176834 [{'message': 'Rate limit exceeded', 'code': 88}]
672256522047614977 [{'message': 'Rate limit exceeded', 'code': 88}]
672254177670729728 [{'message': 'Rate limit exceeded', 'code': 88}]
672248013293752320 [{'message': 'Rate limit exceeded', 'code': 88}]
672245253877968896 [{'message': 'Rate limit exceeded', 'code': 88}]
672239279297454080 [{'message': 'Rate limit exceeded', 'code': 88}]
672231046314901505 [{'message': 'Rate limit exceeded', 'code': 88}]
672222792075620352 [{'message': 'Rate limit exceeded', 'code': 88}]
672205392827572224 [{'message': 'Rate limit exceeded', 'code': 88}]
672169685991993344 [{'message': 'Rate limit exceeded', 'code': 88}]
672160042234327040 [{'message': 'Rate limit exceeded', 'code': 88}]
672139350159835138 [{'message': 'Rate limit exceeded', 'code': 88}]
672125275208069120 [{'message': 'Rate limit exceeded', 'code': 88}]
672095186491711488 [{'message': 'Rate limit exceeded', 'code': 88}]
672082170312290304 [{'message': 'Rate limit exceeded', 'code': 88}]
672068090318987265 [{'message': 'Rate limit exceeded', 'code': 88}]
671896809300709376 [{'message': 'Rate limit exceeded', 'code': 88}]
671891728106971137 [{'message': 'Rate limit exceeded', 'code': 88}]

671882082306625538 [{'message': 'Rate limit exceeded', 'code': 88}]
671879137494245376 [{'message': 'Rate limit exceeded', 'code': 88}]
671874878652489728 [{'message': 'Rate limit exceeded', 'code': 88}]
671866342182637568 [{'message': 'Rate limit exceeded', 'code': 88}]
671855973984772097 [{'message': 'Rate limit exceeded', 'code': 88}]
671789708968640512 [{'message': 'Rate limit exceeded', 'code': 88}]
671768281401958400 [{'message': 'Rate limit exceeded', 'code': 88}]
671763349865160704 [{'message': 'Rate limit exceeded', 'code': 88}]
671744970634719232 [{'message': 'Rate limit exceeded', 'code': 88}]
671743150407421952 [{'message': 'Rate limit exceeded', 'code': 88}]
671735591348891648 [{'message': 'Rate limit exceeded', 'code': 88}]
671729906628341761 [{'message': 'Rate limit exceeded', 'code': 88}]
671561002136281088 [{'message': 'Rate limit exceeded', 'code': 88}]
671550332464455680 [{'message': 'Rate limit exceeded', 'code': 88}]
671547767500775424 [{'message': 'Rate limit exceeded', 'code': 88}]
671544874165002241 [{'message': 'Rate limit exceeded', 'code': 88}]
671542985629241344 [{'message': 'Rate limit exceeded', 'code': 88}]
671538301157904385 [{'message': 'Rate limit exceeded', 'code': 88}]
671536543010570240 [{'message': 'Rate limit exceeded', 'code': 88}]
671533943490011136 [{'message': 'Rate limit exceeded', 'code': 88}]
671528761649688577 [{'message': 'Rate limit exceeded', 'code': 88}]
671520732782923777 [{'message': 'Rate limit exceeded', 'code': 88}]
671518598289059840 [{'message': 'Rate limit exceeded', 'code': 88}]
671511350426865664 [{'message': 'Rate limit exceeded', 'code': 88}]
671504605491109889 [{'message': 'Rate limit exceeded', 'code': 88}]
671497587707535361 [{'message': 'Rate limit exceeded', 'code': 88}]
671488513339211776 [{'message': 'Rate limit exceeded', 'code': 88}]
671486386088865792 [{'message': 'Rate limit exceeded', 'code': 88}]
671485057807351808 [{'message': 'Rate limit exceeded', 'code': 88}]
671390180817915904 [{'message': 'Rate limit exceeded', 'code': 88}]
671362598324076544 [{'message': 'Rate limit exceeded', 'code': 88}]
671357843010908160 [{'message': 'Rate limit exceeded', 'code': 88}]
671355857343524864 [{'message': 'Rate limit exceeded', 'code': 88}]
671347597085433856 [{'message': 'Rate limit exceeded', 'code': 88}]
671186162933985280 [{'message': 'Rate limit exceeded', 'code': 88}]
671182547775299584 [{'message': 'Rate limit exceeded', 'code': 88}]
671166507850801152 [{'message': 'Rate limit exceeded', 'code': 88}]
671163268581498880 [{'message': 'Rate limit exceeded', 'code': 88}]
671159727754231808 [{'message': 'Rate limit exceeded', 'code': 88}]
671154572044468225 [{'message': 'Rate limit exceeded', 'code': 88}]
671151324042559489 [{'message': 'Rate limit exceeded', 'code': 88}]
671147085991960577 [{'message': 'Rate limit exceeded', 'code': 88}]
671141549288370177 [{'message': 'Rate limit exceeded', 'code': 88}]
671138694582165504 [{'message': 'Rate limit exceeded', 'code': 88}]
671134062904504320 [{'message': 'Rate limit exceeded', 'code': 88}]
671122204919246848 [{'message': 'Rate limit exceeded', 'code': 88}]
671115716440031232 [{'message': 'Rate limit exceeded', 'code': 88}]
671109016219725825 [{'message': 'Rate limit exceeded', 'code': 88}]
670995969505435648 [{'message': 'Rate limit exceeded', 'code': 88}]
670842764863651840 [{'message': 'Rate limit exceeded', 'code': 88}]
670840546554966016 [{'message': 'Rate limit exceeded', 'code': 88}]
670838202509447168 [{'message': 'Rate limit exceeded', 'code': 88}]
670833812859932673 [{'message': 'Rate limit exceeded', 'code': 88}]
670832455012716544 [{'message': 'Rate limit exceeded', 'code': 88}]
670826280409919488 [{'message': 'Rate limit exceeded', 'code': 88}]
670823764196741120 [{'message': 'Rate limit exceeded', 'code': 88}]
670822709593571328 [{'message': 'Rate limit exceeded', 'code': 88}]
670815497391357952 [{'message': 'Rate limit exceeded', 'code': 88}]
670811965569282048 [{'message': 'Rate limit exceeded', 'code': 88}]
670807719151067136 [{'message': 'Rate limit exceeded', 'code': 88}]
670804601705242624 [{'message': 'Rate limit exceeded', 'code': 88}]
670803562457407488 [{'message': 'Rate limit exceeded', 'code': 88}]
670797304698376195 [{'message': 'Rate limit exceeded', 'code': 88}]
670792680469889025 [{'message': 'Rate limit exceeded', 'code': 88}]
670789397210615808 [{'message': 'Rate limit exceeded', 'code': 88}]
670786190031921152 [{'message': 'Rate limit exceeded', 'code': 88}]
670783437142401025 [{'message': 'Rate limit exceeded', 'code': 88}]
670782429121134593 [{'message': 'Rate limit exceeded', 'code': 88}]
670780561024270336 [{'message': 'Rate limit exceeded', 'code': 88}]
670778058496974848 [{'message': 'Rate limit exceeded', 'code': 88}]
670764103623966721 [{'message': 'Rate limit exceeded', 'code': 88}]
670755717859713024 [{'message': 'Rate limit exceeded', 'code': 88}]
670733412878163972 [{'message': 'Rate limit exceeded', 'code': 88}]
670727704916926465 [{'message': 'Rate limit exceeded', 'code': 88}]
670717338665226240 [{'message': 'Rate limit exceeded', 'code': 88}]
670704688707301377 [{'message': 'Rate limit exceeded', 'code': 88}]
670691627984359425 [{'message': 'Rate limit exceeded', 'code': 88}]
670679630144274432 [{'message': 'Rate limit exceeded', 'code': 88}]
670676092097810432 [{'message': 'Rate limit exceeded', 'code': 88}]
670668383499735048 [{'message': 'Rate limit exceeded', 'code': 88}]
670474236058800128 [{'message': 'Rate limit exceeded', 'code': 88}]
670468609693655041 [{'message': 'Rate limit exceeded', 'code': 88}]
670465786746662913 [{'message': 'Rate limit exceeded', 'code': 88}]
670452855871037440 [{'message': 'Rate limit exceeded', 'code': 88}]
670449342516494336 [{'message': 'Rate limit exceeded', 'code': 88}]
670444955656130560 [{'message': 'Rate limit exceeded', 'code': 88}]
670442337873600512 [{'message': 'Rate limit exceeded', 'code': 88}]
670435821946826752 [{'message': 'Rate limit exceeded', 'code': 88}]
670434127938719744 [{'message': 'Rate limit exceeded', 'code': 88}]
670433248821026816 [{'message': 'Rate limit exceeded', 'code': 88}]
670428280563085312 [{'message': 'Rate limit exceeded', 'code': 88}]
670427002554466305 [{'message': 'Rate limit exceeded', 'code': 88}]
670421925039075328 [{'message': 'Rate limit exceeded', 'code': 88}]
670420569653809152 [{'message': 'Rate limit exceeded', 'code': 88}]
670417414769758208 [{'message': 'Rate limit exceeded', 'code': 88}]
670411370698022913 [{'message': 'Rate limit exceeded', 'code': 88}]
670408998013820928 [{'message': 'Rate limit exceeded', 'code': 88}]
670403879788544000 [{'message': 'Rate limit exceeded', 'code': 88}]
670385711116361728 [{'message': 'Rate limit exceeded', 'code': 88}]
670374371102445568 [{'message': 'Rate limit exceeded', 'code': 88}]
670361874861563904 [{'message': 'Rate limit exceeded', 'code': 88}]
670338931251150849 [{'message': 'Rate limit exceeded', 'code': 88}]
670319130621435904 [{'message': 'Rate limit exceeded', 'code': 88}]
670303360680108032 [{'message': 'Rate limit exceeded', 'code': 88}]
670290420111441920 [{'message': 'Rate limit exceeded', 'code': 88}]
670093938074779648 [{'message': 'Rate limit exceeded', 'code': 88}]
670086499208155136 [{'message': 'Rate limit exceeded', 'code': 88}]
670079681849372674 [{'message': 'Rate limit exceeded', 'code': 88}]
670073503555706880 [{'message': 'Rate limit exceeded', 'code': 88}]
670069087419133954 [{'message': 'Rate limit exceeded', 'code': 88}]
670061506722140161 [{'message': 'Rate limit exceeded', 'code': 88}]
670055038660800512 [{'message': 'Rate limit exceeded', 'code': 88}]
670046952931721218 [{'message': 'Rate limit exceeded', 'code': 88}]
670040295598354432 [{'message': 'Rate limit exceeded', 'code': 88}]
670037189829525505 [{'message': 'Rate limit exceeded', 'code': 88}]
670003130994700288 [{'message': 'Rate limit exceeded', 'code': 88}]
669993076832759809 [{'message': 'Rate limit exceeded', 'code': 88}]
669972011175813120 [{'message': 'Rate limit exceeded', 'code': 88}]
669970042633789440 [{'message': 'Rate limit exceeded', 'code': 88}]
669942763794931712 [{'message': 'Rate limit exceeded', 'code': 88}]
669926384437997569 [{'message': 'Rate limit exceeded', 'code': 88}]

669923323644657664 [{'message': 'Rate limit exceeded', 'code': 88}]
72.374850351

In [13]:
error_list = []
t = time.time()
for _tweet_id in not_working:
    try:
        tweet_details = api.get_status(_tweet_id,tweet_mode='extended')
        json.dump(tweet_details._json, file)
        file.write('\n')
        working.append(_tweet_id)
    except Exception as e:
        print(_tweet_id,e)
        error_list.append(_tweet_id)
elapsed_time = time.time()-t
print(elapsed_time)

888202515573088257 [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 [{'code': 144, 'message': 'No status found with that ID.'}]
770743923962707968 [{'code': 144, 'message': 'No status found with that ID.'}]
758740312047005698 I/O operation on closed file.
758474966123810816 I/O operation on closed file.
758467244762497024 I/O operation on closed file.
758405701903519748 I/O operation on closed file.
758355060040593408 I/O operation on closed file.
758099635764359168 I/O operation on closed file.
758041019896193024 I/O operation on closed file.
757741869644341248 I/O operation on closed file.
757729163776290825 I/O operation on closed file.
757725642876129280 I/O operation on closed file.
757611664640446465 I/O operation on closed file.
757597904299253760 I/O operation on closed file.
757596066325864448 I/O operation on closed file.
757400162377592832 I/O operation on closed file.
757393109802180609 I/O operation on closed file.
757354760399941633 I/O operation on closed file.
756998049151549440 I/O operation on closed file.
756939218950160384 I/O operation on closed file.
756651752796094464 I/O operation on closed file.
756526248105566208 I/O operation on closed file.
756303284449767430 I/O operation on closed file.
756288534030475264 I/O operation on closed file.
756275833623502848 I/O operation on closed file.
755955933503782912 I/O operation on closed file.
755206590534418437 I/O operation on closed file.
755110668769038337 I/O operation on closed file.
754874841593970688 I/O operation on closed file.
754856583969079297 I/O operation on closed file.
754747087846248448 I/O operation on closed file.
754482103782404096 I/O operation on closed file.
754449512966619136 I/O operation on closed file.
754120377874386944 I/O operation on closed file.
754011816964026368 [{'code': 144, 'message': 'No status found with that ID.'}]
753655901052166144 I/O operation on closed file.
753420520834629632 I/O operation on closed file.
753398408988139520 I/O operation on closed file.
753375668877008896 I/O operation on closed file.
753298634498793472 I/O operation on closed file.
753294487569522689 I/O operation on closed file.
753039830821511168 I/O operation on closed file.
753026973505581056 I/O operation on closed file.
752932432744185856 I/O operation on closed file.
752917284578922496 I/O operation on closed file.
752701944171524096 I/O operation on closed file.
752682090207055872 I/O operation on closed file.
752660715232722944 I/O operation on closed file.
752568224206688256 I/O operation on closed file.
752519690950500352 I/O operation on closed file.
752334515931054080 I/O operation on closed file.
752309394570878976 I/O operation on closed file.
752173152931807232 I/O operation on closed file.
751950017322246144 I/O operation on closed file.
751937170840121344 I/O operation on closed file.
751830394383790080 I/O operation on closed file.
751793661361422336 I/O operation on closed file.
751598357617971201 I/O operation on closed file.
751583847268179968 I/O operation on closed file.
751538714308972544 I/O operation on closed file.
751456908746354688 I/O operation on closed file.
751251247299190784 I/O operation on closed file.
751205363882532864 I/O operation on closed file.
751132876104687617 I/O operation on closed file.
750868782890057730 I/O operation on closed file.
750719632563142656 I/O operation on closed file.
750506206503038976 I/O operation on closed file.
750429297815552001 I/O operation on closed file.
750383411068534784 I/O operation on closed file.
750381685133418496 I/O operation on closed file.
750147208377409536 I/O operation on closed file.
750132105863102464 I/O operation on closed file.
750117059602808832 I/O operation on closed file.
750101899009982464 I/O operation on closed file.
750086836815486976 I/O operation on closed file.
750071704093859840 I/O operation on closed file.
750056684286914561 I/O operation on closed file.
750041628174217216 I/O operation on closed file.
750026558547456000 I/O operation on closed file.
750011400160841729 I/O operation on closed file.
749996283729883136 I/O operation on closed file.
749981277374128128 I/O operation on closed file.
749774190421639168 I/O operation on closed file.
749417653287129088 I/O operation on closed file.
749403093750648834 I/O operation on closed file.
749395845976588288 I/O operation on closed file.
749317047558017024 I/O operation on closed file.
749075273010798592 I/O operation on closed file.
749064354620928000 I/O operation on closed file.
749036806121881602 I/O operation on closed file.
748977405889503236 I/O operation on closed file.
748932637671223296 I/O operation on closed file.
748705597323898880 I/O operation on closed file.
748699167502000129 I/O operation on closed file.
748692773788876800 I/O operation on closed file.
748575535303884801 I/O operation on closed file.
748568946752774144 I/O operation on closed file.
748346686624440324 I/O operation on closed file.
748337862848962560 I/O operation on closed file.
748324050481647620 I/O operation on closed file.
748307329658011649 I/O operation on closed file.
748220828303695873 I/O operation on closed file.
747963614829678593 I/O operation on closed file.
747933425676525569 I/O operation on closed file.
747885874273214464 I/O operation on closed file.
747844099428986880 I/O operation on closed file.
747816857231626240 I/O operation on closed file.
747651430853525504 I/O operation on closed file.
747648653817413632 I/O operation on closed file.
747600769478692864 I/O operation on closed file.
747594051852075008 I/O operation on closed file.
747512671126323200 I/O operation on closed file.
747461612269887489 I/O operation on closed file.
747439450712596480 I/O operation on closed file.
747242308580548608 I/O operation on closed file.
747219827526344708 I/O operation on closed file.
747204161125646336 I/O operation on closed file.
747103485104099331 I/O operation on closed file.
746906459439529985 I/O operation on closed file.
746872823977771008 I/O operation on closed file.
746818907684614144 I/O operation on closed file.
746790600704425984 I/O operation on closed file.
746757706116112384 I/O operation on closed file.
746726898085036033 I/O operation on closed file.
746542875601690625 I/O operation on closed file.
746521445350707200 I/O operation on closed file.
746507379341139972 I/O operation on closed file.
746369468511756288 I/O operation on closed file.
746131877086527488 I/O operation on closed file.
746056683365994496 I/O operation on closed file.
745789745784041472 I/O operation on closed file.
745712589599014916 I/O operation on closed file.
745433870967832576 I/O operation on closed file.
745422732645535745 I/O operation on closed file.
745314880350101504 I/O operation on closed file.
745074613265149952 I/O operation on closed file.
745057283344719872 I/O operation on closed file.
744995568523612160 I/O operation on closed file.
744971049620602880 I/O operation on closed file.
744709971296780288 I/O operation on closed file.
744334592493166593 I/O operation on closed file.
744234799360020481 I/O operation on closed file.
744223424764059648 I/O operation on closed file.
743980027717509120 I/O operation on closed file.
743895849529389061 I/O operation on closed file.
743835915802583040 I/O operation on closed file.
743609206067040256 I/O operation on closed file.

743595368194129920 I/O operation on closed file.
743545585370791937 I/O operation on closed file.
743510151680958465 I/O operation on closed file.
743253157753532416 I/O operation on closed file.
743222593470234624 I/O operation on closed file.
743210557239623680 I/O operation on closed file.
742534281772302336 I/O operation on closed file.
742528092657332225 I/O operation on closed file.
742465774154047488 I/O operation on closed file.
742423170473463808 I/O operation on closed file.
742385895052087300 I/O operation on closed file.
742161199639494656 I/O operation on closed file.
742150209887731712 I/O operation on closed file.
741793263812808706 I/O operation on closed file.
741743634094141440 I/O operation on closed file.
741438259667034112 I/O operation on closed file.
741303864243200000 I/O operation on closed file.
741099773336379392 I/O operation on closed file.
741067306818797568 I/O operation on closed file.
740995100998766593 I/O operation on closed file.
740711788199743490 I/O operation on closed file.
740699697422163968 I/O operation on closed file.
740676976021798912 I/O operation on closed file.
740373189193256964 I/O operation on closed file.
740365076218183684 I/O operation on closed file.
740359016048689152 I/O operation on closed file.
740214038584557568 I/O operation on closed file.
739979191639244800 I/O operation on closed file.
739932936087216128 I/O operation on closed file.
739844404073074688 I/O operation on closed file.
739623569819336705 I/O operation on closed file.
739606147276148736 I/O operation on closed file.
739544079319588864 I/O operation on closed file.
680055455951884288 [{'code': 144, 'message': 'No status found with that ID.'}]
672984142909456390 I/O operation on closed file.
672980819271634944 I/O operation on closed file.
672975131468300288 I/O operation on closed file.
672970152493887488 I/O operation on closed file.
672968025906282496 I/O operation on closed file.
672964561327235073 I/O operation on closed file.
672902681409806336 I/O operation on closed file.
672898206762672129 I/O operation on closed file.
672884426393653248 I/O operation on closed file.
672877615439593473 I/O operation on closed file.
672834301050937345 I/O operation on closed file.
672828477930868736 I/O operation on closed file.
672640509974827008 I/O operation on closed file.
672622327801233409 I/O operation on closed file.
672614745925664768 I/O operation on closed file.
672609152938721280 I/O operation on closed file.
672604026190569472 I/O operation on closed file.
672594978741354496 I/O operation on closed file.
672591762242805761 I/O operation on closed file.
672591271085670400 I/O operation on closed file.
672538107540070400 I/O operation on closed file.
672523490734551040 I/O operation on closed file.
672488522314567680 I/O operation on closed file.
672482722825261057 I/O operation on closed file.
672481316919734272 I/O operation on closed file.
672475084225949696 I/O operation on closed file.
672466075045466113 I/O operation on closed file.
672272411274932228 I/O operation on closed file.
672267570918129665 I/O operation on closed file.
672264251789176834 I/O operation on closed file.
672256522047614977 I/O operation on closed file.
672254177670729728 I/O operation on closed file.
672248013293752320 I/O operation on closed file.
672245253877968896 I/O operation on closed file.
672239279297454080 I/O operation on closed file.
672231046314901505 I/O operation on closed file.
672222792075620352 I/O operation on closed file.
672205392827572224 I/O operation on closed file.
672169685991993344 I/O operation on closed file.
672160042234327040 I/O operation on closed file.
672139350159835138 I/O operation on closed file.
672125275208069120 I/O operation on closed file.
672095186491711488 I/O operation on closed file.
672082170312290304 I/O operation on closed file.
672068090318987265 I/O operation on closed file.
671896809300709376 I/O operation on closed file.
671891728106971137 I/O operation on closed file.
671882082306625538 I/O operation on closed file.
671879137494245376 I/O operation on closed file.
671874878652489728 I/O operation on closed file.
671866342182637568 I/O operation on closed file.
671855973984772097 I/O operation on closed file.
671789708968640512 I/O operation on closed file.
671768281401958400 I/O operation on closed file.
671763349865160704 I/O operation on closed file.
671744970634719232 I/O operation on closed file.
671743150407421952 I/O operation on closed file.
671735591348891648 I/O operation on closed file.
671729906628341761 I/O operation on closed file.
671561002136281088 I/O operation on closed file.
671550332464455680 I/O operation on closed file.
671547767500775424 I/O operation on closed file.
671544874165002241 I/O operation on closed file.
671542985629241344 I/O operation on closed file.
671538301157904385 I/O operation on closed file.
671536543010570240 I/O operation on closed file.
671533943490011136 I/O operation on closed file.
671528761649688577 I/O operation on closed file.
671520732782923777 I/O operation on closed file.
671518598289059840 I/O operation on closed file.
671511350426865664 I/O operation on closed file.
671504605491109889 I/O operation on closed file.
671497587707535361 I/O operation on closed file.
671488513339211776 I/O operation on closed file.
671486386088865792 I/O operation on closed file.
671485057807351808 I/O operation on closed file.
671390180817915904 I/O operation on closed file.
671362598324076544 I/O operation on closed file.
671357843010908160 I/O operation on closed file.
671355857343524864 I/O operation on closed file.
671347597085433856 I/O operation on closed file.
671186162933985280 I/O operation on closed file.
671182547775299584 I/O operation on closed file.
671166507850801152 I/O operation on closed file.
671163268581498880 I/O operation on closed file.
671159727754231808 I/O operation on closed file.
671154572044468225 I/O operation on closed file.
671151324042559489 I/O operation on closed file.
671147085991960577 I/O operation on closed file.
671141549288370177 I/O operation on closed file.
671138694582165504 I/O operation on closed file.
671134062904504320 I/O operation on closed file.
671122204919246848 I/O operation on closed file.
671115716440031232 I/O operation on closed file.
671109016219725825 I/O operation on closed file.
670995969505435648 I/O operation on closed file.
670842764863651840 I/O operation on closed file.
670840546554966016 I/O operation on closed file.
670838202509447168 I/O operation on closed file.
670833812859932673 I/O operation on closed file.
670832455012716544 I/O operation on closed file.
670826280409919488 I/O operation on closed file.
670823764196741120 I/O operation on closed file.
670822709593571328 I/O operation on closed file.
670815497391357952 I/O operation on closed file.
670811965569282048 I/O operation on closed file.
670807719151067136 I/O operation on closed file.
670804601705242624 I/O operation on closed file.
670803562457407488 I/O operation on closed file.
670797304698376195 I/O operation on closed file.
670792680469889025 I/O operation on closed file.
670789397210615808 I/O operation on closed file.
670786190031921152 I/O operation on closed file.
670783437142401025 I/O operation on closed file.
670782429121134593 I/O operation on closed file.
670780561024270336 I/O operation on closed file.
670778058496974848 I/O operation on closed file.
670764103623966721 I/O operation on closed file.
670755717859713024 I/O operation on closed file.
670733412878163972 I/O operation on closed file.
670727704916926465 I/O operation on closed file.
670717338665226240 I/O operation on closed file.
670704688707301377 I/O operation on closed file.
670691627984359425 I/O operation on closed file.
670679630144274432 I/O operation on closed file.
670676092097810432 I/O operation on closed file.
670668383499735048 I/O operation on closed file.
670474236058800128 I/O operation on closed file.
670468609693655041 I/O operation on closed file.
670465786746662913 I/O operation on closed file.
670452855871037440 I/O operation on closed file.
670449342516494336 I/O operation on closed file.
670444955656130560 I/O operation on closed file.

670442337873600512 I/O operation on closed file.
670435821946826752 I/O operation on closed file.
670434127938719744 I/O operation on closed file.
670433248821026816 I/O operation on closed file.
670428280563085312 I/O operation on closed file.
670427002554466305 I/O operation on closed file.
670421925039075328 I/O operation on closed file.
670420569653809152 I/O operation on closed file.
670417414769758208 I/O operation on closed file.
670411370698022913 I/O operation on closed file.
670408998013820928 I/O operation on closed file.
670403879788544000 I/O operation on closed file.
670385711116361728 I/O operation on closed file.
670374371102445568 I/O operation on closed file.
670361874861563904 I/O operation on closed file.
670338931251150849 I/O operation on closed file.
670319130621435904 I/O operation on closed file.
670303360680108032 I/O operation on closed file.
670290420111441920 I/O operation on closed file.
670093938074779648 I/O operation on closed file.
670086499208155136 I/O operation on closed file.
670079681849372674 I/O operation on closed file.
670073503555706880 I/O operation on closed file.
670069087419133954 I/O operation on closed file.
670061506722140161 I/O operation on closed file.
670055038660800512 I/O operation on closed file.
670046952931721218 I/O operation on closed file.
670040295598354432 I/O operation on closed file.
670037189829525505 I/O operation on closed file.
670003130994700288 I/O operation on closed file.
669993076832759809 I/O operation on closed file.
669972011175813120 I/O operation on closed file.
669970042633789440 I/O operation on closed file.
669942763794931712 I/O operation on closed file.
669926384437997569 I/O operation on closed file.
669923323644657664 I/O operation on closed file.

In [14]:
tweet_data = pd.read_json('tweet_json.txt', lines=True)

In [34]:
#req. copies
tweet_data_copy = tweet_data.copy() #API
twitter_archive_copy = tweet_id.copy() #Archive
image_predictions_copy= image_predictions.copy() #URL

### Assessing
Detect and document at least eight (8) quality issues and two (2) tidiness issues in your wrangle_act.ipynb Jupyter Notebook. 

**Key Points**

Key points to keep in mind when data wrangling for this project:

1. You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
2. Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
3. Cleaning includes merging individual pieces of data according to the rules of tidy data.
4. The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.
5. You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [35]:
tweet_data

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,quoted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,user
0,NaN,NaN,2017-08-01 16:23:56,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...",37935,False,This is Phineas. He's a mystical boy. Only eve...,NaN,...,NaN,NaN,NaN,NaN,8287,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,NaN,NaN,2017-08-01 00:17:27,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...",32572,False,This is Tilly. She's just checking pup on you....,NaN,...,NaN,NaN,NaN,NaN,6119,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,NaN,NaN,2017-07-31 00:18:03,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...",24530,False,This is Archie. He is a rare Norwegian Pouncin...,NaN,...,NaN,NaN,NaN,NaN,4054,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,NaN,NaN,2017-07-30 15:58:51,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...",41274,False,This is Darla. She commenced a snooze mid meal...,NaN,...,NaN,NaN,NaN,NaN,8424,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,NaN,NaN,2017-07-29 16:00:24,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...",39465,False,This is Franklin. He would like you to stop ca...,NaN,...,NaN,NaN,NaN,NaN,9128,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
5,NaN,NaN,2017-07-29 00:08:17,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891087942176911360, 'id_str'...",19834,False,Here we have a majestic great white breaching ...,NaN,...,NaN,NaN,NaN,NaN,3038,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
6,NaN,NaN,2017-07-28 16:27:12,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890971906207338496, 'id_str'...",11594,False,Meet Jax. He enjoys ice cream so much he gets ...,NaN,...,NaN,NaN,NaN,NaN,2010,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
7,NaN,NaN,2017-07-28 00:22:40,"[0, 118]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890729118844600320, 'id_str'...",63995,False,When you watch your owner call another dog a g...,NaN,...,NaN,NaN,NaN,NaN,18382,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
8,NaN,NaN,2017-07-27 16:25:51,"[0, 122]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890609177319665665, 'id_str'...",27237,False,This is Zoey. She doesn't want to be one of th...,NaN,...,NaN,NaN,NaN,NaN,4174,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
9,NaN,NaN,2017-07-26 15:59:51,"[0, 133]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890240245463175168, 'id_str'...",31262,False,This is Cassie. She is a college pup. Studying...,NaN,...,NaN,NaN,NaN,NaN,7190,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
10,NaN,NaN,2017-07-26 00:31:25,"[0, 130]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890006600089468928, 'id_str'...",30025,False,This is Koda. He is a South Australian decksha...,NaN,...,NaN,NaN,NaN,NaN,7142,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
11,NaN,NaN,2017-07-25 16:11:53,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889880888800096258, 'id_str'...",27241,False,This is Bruno. He is a service shark. Only get...,NaN,...,NaN,NaN,NaN,NaN,4847,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
12,NaN,NaN,2017-07-25 01:55:32,"[0, 106]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889665366129029120, 'id_str'...",47131,False,Here's a puppo that seems to be on the fence a...,NaN,...,NaN,NaN,NaN,NaN,9784,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
13,NaN,NaN,2017-07-25 00:10:02,"[0, 91]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889638825424826374, 'id_str'...",26585,False,This is Ted. He does his best. Sometimes that'...,NaN,...,NaN,NaN,NaN,NaN,4410,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
14,NaN,NaN,2017-07-24 17:02:04,"[0, 118]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889531127467266049, 'id_str'...",14806,False,This is Stuart. He's sporting his favorite fan...,NaN,...,NaN,NaN,NaN,NaN,2192,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
15,NaN,NaN,2017-07-24 00:19:32,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889278779352338437, 'id_str'...",24726,False,This is Oliver. You're witnessing one of his m...,NaN,...,NaN,NaN,NaN,NaN,5231,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
16,NaN,NaN,2017-07-23 00:22:39,"[0, 86]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888917229776945152, 'id_str'...",28520,False,This is Jim. He found a fren. Taught him how t...,NaN,...,NaN,NaN,NaN,NaN,4390,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
17,NaN,NaN,2017-07-22 16:56:37,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888804981515575296, 'id_str'...",25045,False,This is Zeke. He has a new stick. Very proud o...,NaN,...,NaN,NaN,NaN,NaN,4178,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
18,NaN,NaN,2017-07-22 00:23:06,"[0, 87]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888554915546542081, 'id_str'...",19415,False,This is Ralphus. He's powering up. Attempting ...,NaN,...,NaN,NaN,NaN,NaN,3453,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
19,NaN,NaN,2017-07-20 16:49:33,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888078426338406400, 'id_str'...",21298,False,This is Gerald. He was just told he didn't get...,NaN,...,NaN,NaN,NaN,NaN,3405,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
20,NaN,NaN,2017-07-19 16:06:48,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887705281597243393, 'id_str'...",29560,False,This is Jeffrey. He has a monopoly on the pool...,NaN,...,NaN,NaN,NaN,NaN,5256,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
21,NaN,NaN,2017-07-19 03:39:09,"[0, 108]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887517108413886465, 'id_str'...",45312,False,I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,...,NaN,NaN,NaN,NaN,11389,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
22,NaN,NaN,2017-07-19 00:47:34,"[0, 99]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887473949361045505, 'id_str'...",67573,False,This is Canela. She attempted some fancy porch...,NaN,...,NaN,NaN,NaN,NaN,17714,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
23,NaN,NaN,2017-07-18 16:08:03,"[0, 88]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887343120832229379, 'id_str'...",32986,False,You may not have known you needed to see this ...,NaN,...,NaN,NaN,NaN,NaN,10156,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
24,NaN,NaN,2017-07-18 00:07:08,"[0, 129]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887101385971384320, 'id_str'...",29951,False,This... is a Jubilant Antarctic House Bear. We...,NaN,...,NaN,NaN,NaN,NaN,5812,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
25,NaN,NaN,2017-07-17 16:17:36,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886983218871902208, 'id_str'...",34413,False,This is Maya. She's very shy. Rarely leaves he...,NaN,...,NaN,NaN,NaN,NaN,7578,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
26,NaN,NaN,2017-07-16 23:58:41,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886736868116754432, 'id_str'...",11813,False,This is Mingus. He's a wonderful father to his...,NaN,...,NaN,NaN,NaN,NaN,3197,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
27,NaN,NaN,2017-07-16 20:14:00,"[0, 71]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886680331239161856, 'id_str'...",21970,False,This is Derek. He's late for a dog meeting. 13...,NaN,...,NaN,NaN,NaN,NaN,4353,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
28,NaN,NaN,2017-07-15 23:25:31,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886366138128449536, 'id_str'...",20759,False,This is Roscoe. Another pupper fallen victim t...,NaN,...,NaN,NaN,NaN,NaN,3122,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
29,NaN,NaN,2017-07-15 16:51:35,"[27, 105]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,116,False,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,...,NaN,NaN,NaN,NaN,4,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,NaN,NaN,2015-11-17 00:24:19,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666411498068123649, 'id_str'...",433,False,This is quite the dog. Gets really excited whe...,NaN,...,NaN,NaN,NaN,NaN,322,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1965,NaN,NaN,2015-11-17 00:06:54,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666407121513275392, 'id_str'...",106,False,This is a southern Vesuvius bumblegruff. Can d...,NaN,...,NaN,NaN,NaN,NaN,40,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1966,NaN,NaN,2015-11-16 23:23:41,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666396240351993856, 'id_str'...",161,False,Oh goodness. A super rare northeast Qdoba kang...,NaN,...,NaN,NaN,NaN,NaN,83,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1967,NaN,NaN,2015-11-16 21:54:18,"[0, 81]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666373746337402880, 'id_str'...",182,False,Those are sunglasses and a jean jacket. 11/10 ...,NaN,...,NaN,NaN,NaN,NaN,89,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1968,NaN,NaN,2015-11-16 21:10:36,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666362717482020864, 'id_str'...",758,False,Unique dog here. Very small. Lives in containe...,NaN,...,NaN,NaN,NaN,NaN,561,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1969,NaN,NaN,2015-11-16 20:32:58,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666353280906170368, 'id_str'...",215,False,Here we have a mixed Asiago from the Galápagos...,NaN,...,NaN,NaN,NaN,NaN,71,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1970,NaN,NaN,2015-11-16 20:01:42,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666345414279471104, 'id_str'...",285,False,Look at this jokester thinking seat belt laws ...,NaN,...,NaN,NaN,NaN,NaN,132,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1971,NaN,NaN,2015-11-16 19:31:45,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666337857791987715, 'id_str'...",191,False,This is an extremely rare horned Parthenon. No...,NaN,...,NaN,NaN,NaN,NaN,90,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1972,NaN,NaN,2015-11-16 16:37:02,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666293909010702337, 'id_str'...",488,False,This is a funny dog. Weird toes. Won't come do...,NaN,...,NaN,NaN,NaN,NaN,344,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1973,NaN,NaN,2015-11-16 16:11:11,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666287399580733440, 'id_str'...",144,False,This is an Albanian 3 1/2 legged Episcopalian...,NaN,...,NaN,NaN,NaN,NaN,64,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1974,NaN,NaN,2015-11-16 15:14:19,"[0, 46]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666273081518768128, 'id_str'...",170,False,Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,...,NaN,NaN,NaN,NaN,76,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1975,NaN,NaN,2015-11-16 14:57:41,"[0, 82]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666268904428277760, 'id_str'...",100,False,Very concerned about fellow dog trapped in com...,NaN,...,NaN,NaN,NaN,NaN,35,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1976,NaN,NaN,2015-11-16 04:02:55,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666104129232740352, 'id_str'...",14050,False,Not familiar with this breed. No tail (weird)....,NaN,...,NaN,NaN,NaN,NaN,6396,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1977,NaN,NaN,2015-11-16 03:55:04,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666102150364286977, 'id_str'...",78,False,Oh my. Here you are seeing an Adobe Setter giv...,NaN,...,NaN,NaN,NaN,NaN,11,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1978,NaN,NaN,2015-11-16 03:44:34,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666099505364733952, 'id_str'...",151,False,Can stand on stump for what seems like a while...,NaN,...,NaN,NaN,NaN,NaN,66,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1979,NaN,NaN,2015-11-16 03:22:39,"[0, 132]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666093996847063040, 'id_str'...",161,False,This appears to be a Mongolian Presbyterian mi...,NaN,...,NaN,NaN,NaN,NaN,72,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1980,NaN,NaN,2015-11-16 02:38:37,"[0, 125]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666082912819875840, 'id_str'...",113,False,Here we have a well-established sunblockerspan...,NaN,...,NaN,NaN,NaN,NaN,44,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1981,NaN,NaN,2015-11-16 01:59:36,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666073098362486784, 'id_str'...",315,False,Let's hope this flight isn't Malaysian (lol). ...,NaN,...,NaN,NaN,NaN,NaN,159,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1982,NaN,NaN,2015-11-16 01:52:02,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666071190449033216, 'id_str'...",143,False,Here we have a northern speckled Rhododendron....,NaN,...,NaN,NaN,NaN,NaN,58,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1983,NaN,NaN,2015-11-16 01:22:45,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666063820255862784, 'id_str'...",465,False,This is the happiest dog you will ever see. Ve...,NaN,...,NaN,NaN,NaN,NaN,213,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1984,NaN,NaN,2015-11-16 01:01:59,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666058597072306176, 'id_str'...",109,False,Here is the Rand Paul of retrievers folks! He'...,NaN,...,NaN,NaN,NaN,NaN,57,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1985,NaN,NaN,2015-11-16 00:55:59,"[0, 124]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666057085227016192, 'id_str'...",288,False,My oh my. This is a rare blond Canadian terrie...,NaN,...,NaN,NaN,NaN,NaN,138,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1986,NaN,NaN,2015-11-16 00:49:46,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666055517517848576, 'id_str'...",429,False,Here is a Siberian heavily armored polar bear ...,NaN,...,NaN,NaN,NaN,NaN,235,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1987,NaN,NaN,2015-11-16 00:35:11,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666051848592334848, 'id_str'...",1197,False,This is an odd dog. Hard on the outside but lo...,NaN,...,NaN,NaN,NaN,NaN,831,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1988,NaN,NaN,2015-11-16 00:30:50,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666050754986266625, 'id_str'...",130,False,This is a truly beautiful English Wilson Staff...,NaN,...,NaN,NaN,NaN,NaN,59,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [44]:
tweet_data['user'][0]

{'id': 4196983835,
 'id_str': '4196983835',
 'name': 'WeRateDogs™',
 'screen_name': 'dog_rates',
 'location': 'DM YOUR DOGS',
 'description': 'Your Only Source For Professional Dog Ratings ⠀ ⠀IG, FB, Snapchat ⇨ WeRateDogs partnerships@weratedogs.com',
 'url': 'https://t.co/N7sNNHSfPq',
 'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
     'expanded_url': 'http://weratedogs.com',
     'display_url': 'weratedogs.com',
     'indices': [0, 23]}]},
  'description': {'urls': []}},
 'protected': False,
 'followers_count': 7733166,
 'friends_count': 12,
 'listed_count': 5883,
 'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
 'favourites_count': 140985,
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'verified': True,
 'statuses_count': 9733,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'is_translation_enabled': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1080268745619189760/CyqCf_dA_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1080268745619189760/CyqCf_dA_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1549474166',
 'profile_link_color': 'F5ABB5',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'has_extended_profile': False,
 'default_profile': False,
 'default_profile_image': False,
 'following': False,
 'follow_request_sent': False,
 'notifications': False,
 'translator_type': 'none'}

In [36]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1993
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1994 non-null datetime64[ns]
display_text_range               1994 non-null object
entities                         1994 non-null object
extended_entities                1747 non-null object
favorite_count                   1994 non-null int64
favorited                        1994 non-null bool
full_text                        1994 non-null object
geo                              0 non-null float64
id                               1994 non-null int64
id_str                           1994 non-null int64
in_reply_to_screen_name          71 non-null object
in_reply_to_status_id            71 non-null float64
in_reply_to_status_id_str        71 non-null float64
in_reply_to_user_id              71 non-null float64
in_reply_to_user_id_str          71 non-null float64
is_quote_status                  1994 non-null bool
lang                             1994 non-null object
place                            1 non-null object
possibly_sensitive               1866 non-null float64
possibly_sensitive_appealable    1866 non-null float64
quoted_status                    24 non-null object
quoted_status_id                 25 non-null float64
quoted_status_id_str             25 non-null float64
quoted_status_permalink          25 non-null object
retweet_count                    1994 non-null int64
retweeted                        1994 non-null bool
retweeted_status                 158 non-null object
source                           1994 non-null object
truncated                        1994 non-null bool
user                             1994 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 459.6+ KB

In [18]:
tweet_data[tweet_data['retweeted_status'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 0 to 1993
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       1836 non-null datetime64[ns]
display_text_range               1836 non-null object
entities                         1836 non-null object
extended_entities                1676 non-null object
favorite_count                   1836 non-null int64
favorited                        1836 non-null bool
full_text                        1836 non-null object
geo                              0 non-null float64
id                               1836 non-null int64
id_str                           1836 non-null int64
in_reply_to_screen_name          71 non-null object
in_reply_to_status_id            71 non-null float64
in_reply_to_status_id_str        71 non-null float64
in_reply_to_user_id              71 non-null float64
in_reply_to_user_id_str          71 non-null float64
is_quote_status                  1836 non-null bool
lang                             1836 non-null object
place                            1 non-null object
possibly_sensitive               1781 non-null float64
possibly_sensitive_appealable    1781 non-null float64
quoted_status                    24 non-null object
quoted_status_id                 24 non-null float64
quoted_status_id_str             24 non-null float64
quoted_status_permalink          24 non-null object
retweet_count                    1836 non-null int64
retweeted                        1836 non-null bool
retweeted_status                 0 non-null object
source                           1836 non-null object
truncated                        1836 non-null bool
user                             1836 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 423.1+ KB

In [19]:
tweet_id

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [20]:
tweet_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [21]:
tweet_id[tweet_id['doggo'] == 'doggo'].count()

tweet_id                      97
in_reply_to_status_id          4
in_reply_to_user_id            4
timestamp                     97
source                        97
text                          97
retweeted_status_id           10
retweeted_status_user_id      10
retweeted_status_timestamp    10
expanded_urls                 94
rating_numerator              97
rating_denominator            97
name                          97
doggo                         97
floofer                       97
pupper                        97
puppo                         97
dtype: int64

In [22]:
tweet_id.iloc[342]

tweet_id                                                     832088576586297345
in_reply_to_status_id                                               8.32088e+17
in_reply_to_user_id                                                 3.05821e+07
timestamp                                             2017-02-16 04:45:50 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                                   @docmisterio account started on 11/15/15
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                                                               NaN
rating_numerator                                                             11
rating_denominator                                                           15
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 342, dtype: object

In [23]:
tweet_id.name.value_counts()

None         745
a             55
Charlie       12
Lucy          11
Cooper        11
Oliver        11
Lola          10
Tucker        10
Penny         10
Winston        9
Bo             9
Sadie          8
the            8
an             7
Toby           7
Daisy          7
Buddy          7
Bailey         7
Dave           6
Scout          6
Bella          6
Oscar          6
Jax            6
Jack           6
Leo            6
Milo           6
Koda           6
Stanley        6
Rusty          6
Gus            5
            ...
Boots          1
Bronte         1
Cermet         1
Shadoe         1
Mason          1
Winifred       1
Einstein       1
Gilbert        1
Coleman        1
Jebberson      1
Cedrick        1
Glacier        1
Lenox          1
Bode           1
Kayla          1
Kara           1
Geno           1
Skittle        1
Ester          1
Alexander      1
Rilo           1
Darby          1
Maxwell        1
Napolean       1
Oreo           1
Arlo           1
Buddah         1
Crawford       1
Jonah          1
Ginger         1
Name: name, Length: 957, dtype: int64

In [24]:
image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [25]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [26]:
image_predictions.tweet_id.nunique()

2075

#### Quality
1. contributors, coordiantes and geo null columns -> ok  
1.1 Cleaning non used tweet_data columns and removing retweets
2. tweet_id['timestamp'] and tweet_id['retweeted_status_timestamp'] -> ok
3. retweet columns not needed -> ok
4. quoted_status_id and quoted_status_id_str read as float
5. Uncommon tweet_id.name names like 'a'. -> ok
6. Remove tweets with RT @ pattern. -> ok
7. p1, p2, p3 capitalization -> ok
8. Text range as list. -> ok

#### Tidness
1. tweet_data.id -> tweet_id.tweet_id -> image_predictions.tweet_id are the same (3 tables could be one)
2. doggo, floofer, pupper, puppo in one column

## Cleaning
#### Issue
1. contributors, coordiantes and geo null columns

#### Code

In [20]:
tweet_data = tweet_data.drop(columns=['contributors', 'coordinates', 'geo'])

#### Test

In [21]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 29 columns):
created_at                       900 non-null datetime64[ns]
display_text_range               900 non-null object
entities                         900 non-null object
extended_entities                742 non-null object
favorite_count                   900 non-null int64
favorited                        900 non-null bool
full_text                        900 non-null object
id                               900 non-null int64
id_str                           900 non-null int64
in_reply_to_screen_name          32 non-null object
in_reply_to_status_id            32 non-null float64
in_reply_to_status_id_str        32 non-null float64
in_reply_to_user_id              32 non-null float64
in_reply_to_user_id_str          32 non-null float64
is_quote_status                  900 non-null bool
lang                             900 non-null object
place                            1 non-null object
possibly_sensitive               796 non-null float64
possibly_sensitive_appealable    796 non-null float64
quoted_status                    20 non-null object
quoted_status_id                 21 non-null float64
quoted_status_id_str             21 non-null float64
quoted_status_permalink          21 non-null object
retweet_count                    900 non-null int64
retweeted                        900 non-null bool
retweeted_status                 155 non-null object
source                           900 non-null object
truncated                        900 non-null bool
user                             900 non-null object
dtypes: bool(4), datetime64[ns](1), float64(8), int64(4), object(12)
memory usage: 179.4+ KB

#### Issue
1.1 Cleaning non used tweet_data columns and removing retweets

#### Code

In [82]:
df = tweet_data[['id', 'favorite_count', 'retweet_count', 'retweeted_status', 'display_text_range']]
df = df[df['retweeted_status'].isnull()]
tweet_data = df.drop(columns=['retweeted_status'])

#### Test

In [84]:
tweet_data

                      id  favorite_count  retweet_count display_text_range
0     892420643555336193           37935           8287            [0, 85]
1     892177421306343426           32572           6119           [0, 138]
2     891815181378084864           24530           4054           [0, 121]
3     891689557279858688           41274           8424            [0, 79]
4     891327558926688256           39465           9128           [0, 138]
5     891087950875897856           19834           3038           [0, 138]
6     890971913173991426           11594           2010           [0, 140]
7     890729181411237888           63995          18382           [0, 118]
8     890609185150312448           27237           4174           [0, 122]
9     890240255349198849           31262           7190           [0, 133]
10    890006608113172480           30025           7142           [0, 130]
11    889880896479866881           27241           4847           [0, 107]
12    889665388333682689           47131           9784           [0, 106]
13    889638837579907072           26585           4410            [0, 91]
14    889531135344209921           14806           2192           [0, 118]
15    889278841981685760           24726           5231           [0, 138]
16    888917238123831296           28520           4390            [0, 86]
17    888804989199671297           25045           4178           [0, 128]
18    888554962724278272           19415           3453            [0, 87]
19    888078434458587136           21298           3405           [0, 127]
20    887705289381826560           29560           5256           [0, 127]
21    887517139158093824           45312          11389           [0, 108]
22    887473957103951883           67573          17714            [0, 99]
23    887343217045368832           32986          10156            [0, 88]
24    887101392804085760           29951           5812           [0, 129]
25    886983233522544640           34413           7578           [0, 101]
26    886736880519319552           11813           3197           [0, 121]
27    886680336477933568           21970           4353            [0, 71]
28    886366144734445568           20759           3122           [0, 131]
29    886267009285017600             116              4          [27, 105]
...                  ...             ...            ...                ...
1964  666411507551481857             433            322           [0, 140]
1965  666407126856765440             106             40           [0, 139]
1966  666396247373291520             161             83           [0, 137]
1967  666373753744588802             182             89            [0, 81]
1968  666362758909284353             758            561           [0, 140]
1969  666353288456101888             215             71           [0, 135]
1970  666345417576210432             285            132           [0, 112]
1971  666337882303524864             191             90           [0, 139]
1972  666293911632134144             488            344           [0, 138]
1973  666287406224695296             144             64           [0, 136]
1974  666273097616637952             170             76            [0, 46]
1975  666268910803644416             100             35            [0, 82]
1976  666104133288665088           14050           6396           [0, 134]
1977  666102155909144576              78             11           [0, 128]
1978  666099513787052032             151             66           [0, 140]
1979  666094000022159362             161             72           [0, 132]
1980  666082916733198337             113             44           [0, 125]
1981  666073100786774016             315            159           [0, 137]
1982  666071193221509120             143             58           [0, 137]
1983  666063827256086533             465            213           [0, 107]
1984  666058600524156928             109             57           [0, 135]
1985  666057090499244032             288            138           [0, 124]
1986  666055525042405380             429            235           [0, 140]
1987  666051853826850816            1197            831           [0, 138]
1988  666050758794694657             130             59           [0, 140]
1989  666049248165822465             106             43           [0, 120]
1990  666044226329800704             293            138           [0, 137]
1991  666033412701032449             123             43           [0, 130]
1992  666029285002620928             125             47           [0, 139]
1993  666020888022790149            2531            498           [0, 131]

[1836 rows x 4 columns]

#### Issue
2. tweet_id['timestamp'] is object not datetime

#### Code

In [85]:
tweet_id['timestamp'] = pd.to_datetime(tweet_id['timestamp'])

#### Test

In [86]:
tweet_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

#### Issue
3. retweet columns not needed

#### Code

In [87]:
retweet_cols = ['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']
tweet_id = tweet_id.drop(retweet_cols, axis=1)

#### Test

In [88]:
tweet_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 2356 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2356 non-null datetime64[ns]
source                   2356 non-null object
text                     2356 non-null object
expanded_urls            2297 non-null object
rating_numerator         2356 non-null int64
rating_denominator       2356 non-null int64
name                     2356 non-null object
doggo                    2356 non-null object
floofer                  2356 non-null object
pupper                   2356 non-null object
puppo                    2356 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(8)
memory usage: 257.8+ KB

#### Issue
4. Uncommon tweet_id.name names like 'a'.

#### Code

In [89]:
for name in tweet_id.name:
    if len(name) < 3:
        tweet_id.name.replace(name, 'None', inplace = True)
    if name == 'the':
        tweet_id.name.replace(name, 'None', inplace = True)

#### Test

In [90]:
tweet_id.name.value_counts()

None         832
Charlie       12
Cooper        11
Oliver        11
Lucy          11
Tucker        10
Lola          10
Penny         10
Winston        9
Sadie          8
Bailey         7
Daisy          7
Buddy          7
Toby           7
Jax            6
Stanley        6
Jack           6
Milo           6
Oscar          6
Leo            6
Rusty          6
Scout          6
Koda           6
Dave           6
Bella          6
Alfie          5
Sunny          5
Chester        5
very           5
Sammy          5
            ...
Genevieve      1
Boots          1
Bronte         1
Cermet         1
Shadoe         1
Monkey         1
Jonah          1
Remy           1
Geno           1
Tito           1
Gilbert        1
Jebberson      1
Cedrick        1
Glacier        1
Lenox          1
Bode           1
Kayla          1
Kara           1
Skittle        1
Crawford       1
Coleman        1
Ester          1
Rilo           1
Darby          1
Maxwell        1
Napolean       1
Oreo           1
Arlo           1
Buddah         1
Ginger         1
Name: name, Length: 945, dtype: int64

#### Issue
5. Remove tweets with RT @ pattern.

#### Code

In [91]:
tweet_id = tweet_id[~tweet_id.text.str.contains('^RT @')]

#### Test

In [92]:
tweet_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(8)
memory usage: 254.9+ KB

#### Issue
7. p1, p2, p3 capitalization

#### Code

In [96]:
#image_predictions.drop(columns=['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'])
image_predictions['p1'] = image_predictions['p1'].str.lower()
image_predictions['p2'] = image_predictions['p2'].str.lower()
image_predictions['p3'] = image_predictions['p3'].str.lower()

#### Test

In [97]:
image_predictions[['p1','p2','p3']]

,p1,p2,p3
0,welsh_springer_spaniel,collie,shetland_sheepdog
1,redbone,miniature_pinscher,rhodesian_ridgeback
2,german_shepherd,malinois,bloodhound
3,rhodesian_ridgeback,redbone,miniature_pinscher
4,miniature_pinscher,rottweiler,doberman
5,bernese_mountain_dog,english_springer,greater_swiss_mountain_dog
6,box_turtle,mud_turtle,terrapin
7,chow,tibetan_mastiff,fur_coat
8,shopping_cart,shopping_basket,golden_retriever
9,miniature_poodle,komondor,soft-coated_wheaten_terrier
10,golden_retriever,tibetan_mastiff,labrador_retriever
11,gordon_setter,yorkshire_terrier,pekinese
12,walker_hound,english_foxhound,ibizan_hound
13,pug,bull_mastiff,french_bulldog
14,bloodhound,german_shepherd,malinois
15,lhasa,shih-tzu,dandie_dinmont
16,english_setter,newfoundland,borzoi
17,hen,cock,partridge
18,desktop_computer,desk,bookcase
19,italian_greyhound,toy_terrier,basenji
20,maltese_dog,toy_poodle,miniature_poodle
21,three-toed_sloth,otter,great_grey_owl
22,ox,newfoundland,groenendael
23,golden_retriever,chesapeake_bay_retriever,labrador_retriever
24,malamute,siberian_husky,eskimo_dog
25,guinea_pig,skunk,hamster
26,soft-coated_wheaten_terrier,afghan_hound,briard
27,chihuahua,toy_terrier,papillon
28,black-and-tan_coonhound,bloodhound,flat-coated_retriever
29,coho,barracouta,gar
...,...,...,...
2045,french_bulldog,chihuahua,boston_bull
2046,convertible,sports_car,car_wheel
2047,kuvasz,great_pyrenees,dandie_dinmont
2048,chihuahua,toy_terrier,can_opener
2049,samoyed,eskimo_dog,staffordshire_bullterrier
2050,mexican_hairless,sea_lion,weimaraner
2051,pembroke,rhodesian_ridgeback,beagle
2052,limousine,tow_truck,shopping_cart
2053,basset,redbone,weimaraner
2054,french_bulldog,pug,bull_mastiff
2055,pembroke,rhodesian_ridgeback,beagle
2056,siberian_husky,eskimo_dog,malamute
2057,golden_retriever,labrador_retriever,english_setter
2058,golden_retriever,tibetan_mastiff,labrador_retriever
2059,whippet,borzoi,saluki
2060,golden_retriever,labrador_retriever,redbone
2061,french_bulldog,boxer,staffordshire_bullterrier
2062,pembroke,cardigan,basenji
2063,french_bulldog,labrador_retriever,muzzle
2064,samoyed,pomeranian,chow
2065,pembroke,cardigan,chihuahua
2066,irish_terrier,irish_setter,chesapeake_bay_retriever
2067,pomeranian,eskimo_dog,pembroke
2068,appenzeller,border_collie,ice_lolly
2069,chesapeake_bay_retriever,irish_terrier,indian_elephant
2070,basset,english_springer,german_short-haired_pointer
2071,paper_towel,labrador_retriever,spatula
2072,chihuahua,malamute,kelpie
2073,chihuahua,pekinese,papillon
2074,orange,bagel,banana

#### Issue
8. Text range as list.

#### Code

In [99]:
tweet_data.display_text_range

0         [0, 85]
1        [0, 138]
2        [0, 121]
3         [0, 79]
4        [0, 138]
5        [0, 138]
6        [0, 140]
7        [0, 118]
8        [0, 122]
9        [0, 133]
10       [0, 130]
11       [0, 107]
12       [0, 106]
13        [0, 91]
14       [0, 118]
15       [0, 138]
16        [0, 86]
17       [0, 128]
18        [0, 87]
19       [0, 127]
20       [0, 127]
21       [0, 108]
22        [0, 99]
23        [0, 88]
24       [0, 129]
25       [0, 101]
26       [0, 121]
27        [0, 71]
28       [0, 131]
29      [27, 105]
          ...
1964     [0, 140]
1965     [0, 139]
1966     [0, 137]
1967      [0, 81]
1968     [0, 140]
1969     [0, 135]
1970     [0, 112]
1971     [0, 139]
1972     [0, 138]
1973     [0, 136]
1974      [0, 46]
1975      [0, 82]
1976     [0, 134]
1977     [0, 128]
1978     [0, 140]
1979     [0, 132]
1980     [0, 125]
1981     [0, 137]
1982     [0, 137]
1983     [0, 107]
1984     [0, 135]
1985     [0, 124]
1986     [0, 140]
1987     [0, 138]
1988     [0, 140]
1989     [0, 120]
1990     [0, 137]
1991     [0, 130]
1992     [0, 139]
1993     [0, 131]
Name: display_text_range, Length: 1836, dtype: object

In [107]:
for i, _range in enumerate(tweet_data.display_text_range):
    _range = int(_range[1] - _range[0])
    #print(i, _rangeint)
    tweet_data['display_text_range'][i] = _range

TypeError: 'int' object is not subscriptable

#### Test

In [108]:
tweet_data['display_text_range'].head()
#tweet_data.info()

0     85
1    138
2    121
3     79
4    138
Name: display_text_range, dtype: object

#### Issue
1. Merge

#### Code

In [109]:
tweet_data.id.isin(tweet_id.tweet_id)[tweet_data.id.isin(tweet_id.tweet_id) == False].value_counts()

Series([], Name: id, dtype: int64)

In [110]:
df_final = tweet_id.merge(tweet_data, how='left', left_on='tweet_id', right_on='id')

In [111]:
df_final = df_final.merge(image_predictions, how='left', left_on='tweet_id', right_on='tweet_id')

#### Test

In [112]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2174
Data columns (total 29 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null datetime64[ns]
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
id                       1836 non-null float64
favorite_count           1836 non-null float64
retweet_count            1836 non-null float64
display_text_range       1836 non-null object
jpg_url                  1994 non-null object
img_num                  1994 non-null float64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null object
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null object
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null object
dtypes: datetime64[ns](1), float64(9), int64(3), object(16)
memory usage: 509.8+ KB

In [113]:
df_final[['tweet_id', 'id']]

                tweet_id            id
0     892420643555336193  8.924206e+17
1     892177421306343426  8.921774e+17
2     891815181378084864  8.918152e+17
3     891689557279858688  8.916896e+17
4     891327558926688256  8.913276e+17
5     891087950875897856  8.910880e+17
6     890971913173991426  8.909719e+17
7     890729181411237888  8.907292e+17
8     890609185150312448  8.906092e+17
9     890240255349198849  8.902403e+17
10    890006608113172480  8.900066e+17
11    889880896479866881  8.898809e+17
12    889665388333682689  8.896654e+17
13    889638837579907072  8.896388e+17
14    889531135344209921  8.895311e+17
15    889278841981685760  8.892788e+17
16    888917238123831296  8.889172e+17
17    888804989199671297  8.888050e+17
18    888554962724278272  8.885550e+17
19    888078434458587136  8.880784e+17
20    887705289381826560  8.877053e+17
21    887517139158093824  8.875171e+17
22    887473957103951883  8.874740e+17
23    887343217045368832  8.873432e+17
24    887101392804085760  8.871014e+17
25    886983233522544640  8.869832e+17
26    886736880519319552  8.867369e+17
27    886680336477933568  8.866803e+17
28    886366144734445568  8.863661e+17
29    886267009285017600  8.862670e+17
...                  ...           ...
2145  666411507551481857  6.664115e+17
2146  666407126856765440  6.664071e+17
2147  666396247373291520  6.663962e+17
2148  666373753744588802  6.663738e+17
2149  666362758909284353  6.663628e+17
2150  666353288456101888  6.663533e+17
2151  666345417576210432  6.663454e+17
2152  666337882303524864  6.663379e+17
2153  666293911632134144  6.662939e+17
2154  666287406224695296  6.662874e+17
2155  666273097616637952  6.662731e+17
2156  666268910803644416  6.662689e+17
2157  666104133288665088  6.661041e+17
2158  666102155909144576  6.661022e+17
2159  666099513787052032  6.660995e+17
2160  666094000022159362  6.660940e+17
2161  666082916733198337  6.660829e+17
2162  666073100786774016  6.660731e+17
2163  666071193221509120  6.660712e+17
2164  666063827256086533  6.660638e+17
2165  666058600524156928  6.660586e+17
2166  666057090499244032  6.660571e+17
2167  666055525042405380  6.660555e+17
2168  666051853826850816  6.660519e+17
2169  666050758794694657  6.660508e+17
2170  666049248165822465  6.660492e+17
2171  666044226329800704  6.660442e+17
2172  666033412701032449  6.660334e+17
2173  666029285002620928  6.660293e+17
2174  666020888022790149  6.660209e+17

[2175 rows x 2 columns]

#### Issue
2. doggo, floofer, pupper, puppo in one column

#### Code

In [39]:
# Select the columns to melt and to remain
columns_to_melt = ['doggo', 'floofer', 'pupper', 'puppo']
columns_to_stay = [x for x in df_final.columns.tolist() if x not in columns_to_melt]

# Melt the the columns into values
df_final = pd.melt(df_final, id_vars = columns_to_stay, value_vars = columns_to_melt, 
                         var_name = 'stages', value_name = 'dog_stage')

# Delete column 'stages'
df_final = df_final.drop('stages', 1)


df_final = df_final.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')

Source: https://github.com/anoru/Wrangling-Data-WeRateDogs/blob/master/wrangle_act.ipynb

#### Test

In [40]:
df_final.dog_stage.value_counts()

None       1831
pupper      234
doggo        75
puppo        25
floofer      10
Name: dog_stage, dtype: int64

#### Saving

In [98]:
df_final.to_csv('df_final.csv')

NameError: name 'df_final' is not defined